In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import dispaset as ds
import pickle

In [3]:
import os
conf_file = os.path.abspath('./tests/conf.yml')
"""Generate some data for testing"""
config = ds.load_config_yaml(conf_file)
assert isinstance(config, dict)

In [5]:
from dispaset.preprocessing.preprocessing import DispaModel, build_simulation
from dispaset.preprocessing.dataloader import DataLoader

In [17]:
dm = DispaModel.from_yaml('./tests/conf.yml')

[INFO    ] (interconnections): Detected interconnection Z1 -> Z2. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z2 -> Z1. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z1 -> FR, happening between a simulated zone and the rest of the world. The historical flows will be imposed to the model
[INFO    ] (interconnections): Detected interconnection FR -> Z1, happening between the rest of the world and a simulated zone. The historical flows will be imposed to the model
[INFO    ] (NodeBasedTable): No data file found for the table LoadShedding. Using default value 0.05
[INFO    ] (NodeBasedTable): No data file found for the table CostLoadShedding. Using default value 400.0
[WARNING ] (load_fuel_prices): No data file found for "PriceOfNuclear. Using default value 3.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBlackCoal. Using default value 10.62 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfGas. Using default value 25.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfFuelOil. Using default value 35.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBiomass. Using default value 37.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfCO2. Using default value 7.5 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfLignite. Using default value 8.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfPeat. Using default value 0.0 EUR
[WARNING ] (clustering): The standard (or MILP) clustering method is only applicable if all values of the Nunits column in the power plant data are set to one. At least one different value has been encountered. No clustering will be applied
[WARNING ] (clustering): Did not cluster any unit
[INFO    ] (UnitBasedTable): No data file found for the table Outages. Using default value None
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOff_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTOF') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTON') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'WTON') has been used
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirLevels. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirScaledInflows. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table CostHeatSlack. Using default value 51.0
[WARNING ] (check_heat_demand): The heat demand profile with header "INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z2 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z1 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOff_Z2 (technology WTOF) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z2 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z1 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[WARNING ] (check_heat_demand): The heat demand profile with header "[13] - INESCO WKK" does not correspond to any CHP plant. It will be ignored.

In [18]:
dm

Dispa-SET model with:
 -> Simulationtype: MILP
 -> CEP: False
 -> LP: True
 -> 2014-12-31 23:00:00 to 2015-01-30 23:00:00
 -> 30 days
 -> 16 plants

In [16]:
c = dict(config)
c["WriteGDX"] = 1

In [ ]:
!gams /home/matthias/Dropbox/DispaFork/Dispa-SET/Simulations/Simulation_test/UCM_h.gms

In [19]:
c = build_simulation(config)

[INFO    ] (interconnections): Detected interconnection Z1 -> Z2. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z2 -> Z1. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z1 -> FR, happening between a simulated zone and the rest of the world. The historical flows will be imposed to the model
[INFO    ] (interconnections): Detected interconnection FR -> Z1, happening between the rest of the world and a simulated zone. The historical flows will be imposed to the model
[INFO    ] (NodeBasedTable): No data file found for the table LoadShedding. Using default value 0.05
[INFO    ] (NodeBasedTable): No data file found for the table CostLoadShedding. Using default value 400.0
[WARNING ] (load_fuel_prices): No data file found for "PriceOfNuclear. Using default value 3.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBlackCoal. Using default value 10.62 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfGas. Using default value 25.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfFuelOil. Using default value 35.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBiomass. Using default value 37.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfCO2. Using default value 7.5 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfLignite. Using default value 8.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfPeat. Using default value 0.0 EUR
[WARNING ] (clustering): The standard (or MILP) clustering method is only applicable if all values of the Nunits column in the power plant data are set to one. At least one different value has been encountered. No clustering will be applied
[WARNING ] (clustering): Did not cluster any unit
[INFO    ] (UnitBasedTable): No data file found for the table Outages. Using default value None
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOff_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTOF') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTON') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'WTON') has been used
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirLevels. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirScaledInflows. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table CostHeatSlack. Using default value 51.0
[WARNING ] (check_heat_demand): The heat demand profile with header "INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z2 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z1 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOff_Z2 (technology WTOF) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z2 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z1 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[WARNING ] (check_heat_demand): The heat demand profile with header "[13] - INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [4] - PHOT_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [5] - WindOff_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [6] - WindOn_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [8] - COO II T. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [10] - SISTERON. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [14] - PHOT_Z1. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [15] - WindOn_Z1. A null variable cost has been assigned
[WARNING ] (get_gams_path): The provided path for GAMS () does not exist. Trying to locate...
[INFO    ] (get_gams_path): Detected /opt/gams/gams27.1_linux_x64_64_sfx/ as GAMS path on this computer
[INFO    ] (write_variables): Data Successfully written to Inputs.gdx
[INFO    ] (build_sim_dir): Build finished

In [11]:
with open('/home/zech_ma/DispaFork/Dispa-SET/Simulations/Simulation_test/Inputs.p', 'rb') as pickle_file:
    content = pickle.load(pickle_file)

In [12]:
sim_par = build_simulation(config)

[INFO    ] (interconnections): Detected interconnection Z1 -> Z2. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z2 -> Z1. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z1 -> FR, happening between a simulated zone and the rest of the world. The historical flows will be imposed to the model
[INFO    ] (interconnections): Detected interconnection FR -> Z1, happening between the rest of the world and a simulated zone. The historical flows will be imposed to the model
[INFO    ] (NodeBasedTable): No data file found for the table LoadShedding. Using default value 0.05
[INFO    ] (NodeBasedTable): No data file found for the table CostLoadShedding. Using default value 400.0
[WARNING ] (load_fuel_prices): No data file found for "PriceOfNuclear. Using default value 3.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBlackCoal. Using default value 10.62 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfGas. Using default value 25.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfFuelOil. Using default value 35.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBiomass. Using default value 37.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfCO2. Using default value 7.5 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfLignite. Using default value 8.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfPeat. Using default value 0.0 EUR
[WARNING ] (clustering): The standard (or MILP) clustering method is only applicable if all values of the Nunits column in the power plant data are set to one. At least one different value has been encountered. No clustering will be applied
[WARNING ] (clustering): Did not cluster any unit
[INFO    ] (UnitBasedTable): No data file found for the table Outages. Using default value None
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOff_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTOF') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTON') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'WTON') has been used
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirLevels. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirScaledInflows. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table CostHeatSlack. Using default value 51.0
[WARNING ] (check_heat_demand): The heat demand profile with header "INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z2 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z1 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOff_Z2 (technology WTOF) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z2 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z1 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[WARNING ] (check_heat_demand): The heat demand profile with header "[13] - INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [4] - PHOT_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [5] - WindOff_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [6] - WindOn_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [8] - COO II T. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [10] - SISTERON. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [14] - PHOT_Z1. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [15] - WindOn_Z1. A null variable cost has been assigned
[INFO    ] (build_sim_dir): Build finished

In [11]:
conf_file = os.path.abspath('./tests/conf.yml')
config = ds.load_config_yaml(conf_file)

In [12]:
dl = DataLoader(config)

[INFO    ] (interconnections): Detected interconnection Z1 -> Z2. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z2 -> Z1. The historical NTCs will be imposed as maximum flow value
[INFO    ] (interconnections): Detected interconnection Z1 -> FR, happening between a simulated zone and the rest of the world. The historical flows will be imposed to the model
[INFO    ] (interconnections): Detected interconnection FR -> Z1, happening between the rest of the world and a simulated zone. The historical flows will be imposed to the model
[INFO    ] (NodeBasedTable): No data file found for the table LoadShedding. Using default value 0.05
[INFO    ] (NodeBasedTable): No data file found for the table CostLoadShedding. Using default value 400.0
[WARNING ] (load_fuel_prices): No data file found for "PriceOfNuclear. Using default value 3.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBlackCoal. Using default value 10.62 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfGas. Using default value 25.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfFuelOil. Using default value 35.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfBiomass. Using default value 37.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfCO2. Using default value 7.5 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfLignite. Using default value 8.0 EUR
[WARNING ] (load_fuel_prices): No data file found for "PriceOfPeat. Using default value 0.0 EUR
[WARNING ] (clustering): The standard (or MILP) clustering method is only applicable if all values of the Nunits column in the power plant data are set to one. At least one different value has been encountered. No clustering will be applied
[WARNING ] (clustering): Did not cluster any unit
[INFO    ] (UnitBasedTable): No data file found for the table Outages. Using default value None
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOff_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTOF') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z2 in table AvailabilityFactors. The generic information for ('Z2', 'WTON') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit PHOT_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'PHOT') has been used
[WARNING ] (UnitBasedTable): No specific information was found for unit WindOn_Z1 in table AvailabilityFactors. The generic information for ('Z1', 'WTON') has been used
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirLevels. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table ReservoirScaledInflows. Using default value 0
[INFO    ] (UnitBasedTable): No data file found for the table CostHeatSlack. Using default value 51.0
[WARNING ] (check_heat_demand): The heat demand profile with header "INESCO WKK" does not correspond to any CHP plant. It will be ignored.
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z2 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOn_Z1 (technology WTON) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit WindOff_Z2 (technology WTOF) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z2 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[CRITICAL] (check_AvailabilityFactors): Unit PHOT_Z1 (technology PHOT) does not appear in the availbilityFactors table. Its values will be set to 100%!
[WARNING ] (check_heat_demand): The heat demand profile with header "[13] - INESCO WKK" does not correspond to any CHP plant. It will be ignored.

In [13]:
sets = sim_par["sets"]
for name, vals in sim_par["parameters"].items():
    print(name)
    print(vals["val"].shape)
    print(tuple(len(sets[i]) for i in vals["sets"]))
    assert vals["val"].shape == tuple(len(sets[i]) for i in vals["sets"])

NameError: name 'sim_par' is not defined

In [16]:
with open('test.pkl', 'wb') as output:
    pickle.dump(dm, output, pickle.HIGHEST_PROTOCOL)

PicklingError: Can't pickle <class 'dispaset.preprocessing.dm.DispaModel'>: it's not the same object as dispaset.preprocessing.dm.DispaModel

In [17]:
dm

Dispa-SET model with:
 -> Simulationtype: MILP
 -> CEP: False
 -> LP: True
 -> 2014-12-31 23:00:00 to 2015-01-30 23:00:00
 -> 30 days
 -> 16 plants

In [68]:
dm.build_model_parameters()

[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [4] - PHOT_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [5] - WindOff_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [6] - WindOn_Z2. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [8] - COO II T. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WAT in unit [10] - SISTERON. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel SUN in unit [14] - PHOT_Z1. A null variable cost has been assigned
[WARNING ] (build_model_parameters): No fuel price value has been found for fuel WIN in unit [15] - WindOn_Z1. A null variable cost has been assigned

In [6]:
PATH = "/home/matthias/Dropbox/DispaFork/Dispa-SET/Database/PowerPlants"
EXT = "*.csv"
all_csv_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]

In [5]:
import os
from glob import glob
import pandas as pd


PATH = "/home/matthias/Dropbox/DispaFork/Dispa-SET/Database/PowerPlants"
EXT = "*.csv"
all_csv_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]

for file in all_csv_files:
    df = pd.read_csv(file, index_col=0)
    del df["EconomicLifetime"]
    del df["Extendable"]
    del df["Investment"]
    del df["FixedCost"]
    df["Extendable"] = None
    df["Investment"] = None
    df["FixedCost"] = None
    df["EconomicLifetime"] = None
    #del df["ExtendableCapacity"]
    df.to_csv(file, index=True)

In [12]:
from dispaset.data_handler import UnitBasedTable,NodeBasedTable,merge_series, load_csv

all_cost = load_csv('Database/CapacityExpansion/TechsCost.csv')

WARNING:root:Could not import gdxcc. Trying to use pre-compiled libraries
ERROR:root:Pre-compiled GAMS libraries are only available for python 3.7 64 bits under windows. You are using platform linux and  architecture 64bitPlease install the gams API using: "pip install gamsxcc gdxcc optcc"

SystemExit: 1

/home/matthias/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [68]:
all_cost = pd.read_csv("Database/CapacityExpansion/TechsCost.csv")
all_cost = all_cost[["Technology", "Fuel","Investment", "EconomicLifetime", "FixedCost"]]

In [69]:
de_stat = pd.read_csv("Database/PowerPlants/DE/clustered.csv")

In [70]:
de_stat.loc[2, "FixedCost"] = None

In [71]:
if de_stat[["Technology", "Fuel","Investment", "EconomicLifetime", "FixedCost"]].isnull().values.any():
    print("nanu")

nanu

In [72]:
de_stat.merge(all_cost,  how='outer', on = ["Technology", "Fuel"],  suffixes = ["", "_mean"], indicator=True)

,Unnamed: 0,PowerCapacity,Unit,Zone,Technology,Fuel,Efficiency,MinUpTime,MinDownTime,RampUpRate,...,CHPMaxHeat,Nunits,Extendable,Investment,FixedCost,EconomicLifetime,Investment_mean,EconomicLifetime_mean,FixedCost_mean,_merge
0,DE_STUR_BIO,100000.0,DE_STUR_BIO,DE,STUR,BIO,0.460,4.0,6.0,0.020000,...,179.68423,33.0,x,2400000.0,100000.0,30.0,2400000.0,30.0,100000.0,both
1,DE_COMC_GAS,100000.0,DE_COMC_GAS,DE,COMC,GAS,0.570,2.0,4.0,0.030000,...,NaN,40.0,x,550000.0,15000.0,30.0,NaN,NaN,NaN,left_only
2,DE_GTUR_GAS,100000.0,DE_GTUR_GAS,DE,GTUR,GAS,0.425,0.0,0.0,0.166667,...,NaN,56.0,x,550000.0,NaN,30.0,NaN,NaN,NaN,left_only
3,DE_STUR_GAS,100000.0,DE_STUR_GAS,DE,STUR,GAS,0.380,0.0,0.0,0.020000,...,NaN,13.0,x,550000.0,15000.0,30.0,NaN,NaN,NaN,left_only
4,DE_STUR_HRD,100000.0,DE_STUR_HRD,DE,STUR,HRD,0.460,8.0,8.0,0.017778,...,NaN,38.0,x,1800000.0,50000.0,30.0,1800000.0,30.0,50000.0,both
5,DE_STUR_LIG,100000.0,DE_STUR_LIG,DE,STUR,LIG,0.393,8.0,8.0,0.015210,...,NaN,29.0,x,1800000.0,60000.0,30.0,1800000.0,30.0,60000.0,both
6,DE_STUR_NUC,100000.0,DE_STUR_NUC,DE,STUR,NUC,1.000,24.0,24.0,0.003333,...,NaN,11.0,x,6000000.0,100000.0,30.0,6000000.0,30.0,100000.0,both
7,DE_PHOT_SUN,50000.0,DE_PHOT_SUN,DE,PHOT,SUN,1.000,0.0,0.0,0.020000,...,NaN,1.0,x,998000.0,25000.0,20.0,998000.0,20.0,25000.0,both
8,DE_HROR_WAT,100000.0,DE_HROR_WAT,DE,HROR,WAT,1.000,0.0,0.0,0.020000,...,NaN,1.0,x,3000000.0,60000.0,30.0,3000000.0,30.0,60000.0,both
9,DE_HPHS_WAT,2000.0,DE_HPHS_WAT,DE,HPHS,WAT,0.800,0.0,0.0,0.066667,...,NaN,1.0,x,2000000.0,20000.0,30.0,2000000.0,30.0,20000.0,both
10,DE_WTOF_WIN,100000.0,DE_WTOF_WIN,DE,WTOF,WIN,1.000,0.0,0.0,0.020000,...,NaN,1.0,x,3500000.0,35000.0,20.0,3500000.0,20.0,35000.0,both
11,DE_WTON_WIN,50000.0,DE_WTON_WIN,DE,WTON,WIN,1.000,0.0,0.0,0.020000,...,NaN,1.0,x,1063000.0,35000.0,20.0,1063000.0,20.0,35000.0,both
12,DE_STUR_WST,2000.0,DE_STUR_WST,DE,STUR,WST,0.200,0.0,0.0,0.020000,...,NaN,29.0,x,2424000.0,100000.0,30.0,2424000.0,30.0,100000.0,both
13,NaN,NaN,NaN,NaN,COMC,Gas,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,550000.0,30.0,15000.0,right_only
14,NaN,NaN,NaN,NaN,STUR,OIL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,400000.0,30.0,6000.0,right_only
15,NaN,NaN,NaN,NaN,HDAM,WAT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000000.0,30.0,20000.0,right_only

In [73]:
de_stat

,Unnamed: 0,PowerCapacity,Unit,Zone,Technology,Fuel,Efficiency,MinUpTime,MinDownTime,RampUpRate,...,STOCapacity,STOSelfDischarge,STOMaxChargingPower,STOChargingEfficiency,CHPMaxHeat,Nunits,Extendable,Investment,FixedCost,EconomicLifetime
0,DE_STUR_BIO,100000,DE_STUR_BIO,DE,STUR,BIO,0.460,4,6,0.020000,...,NaN,NaN,NaN,NaN,179.68423,33,x,2400000,100000.0,30
1,DE_COMC_GAS,100000,DE_COMC_GAS,DE,COMC,GAS,0.570,2,4,0.030000,...,NaN,NaN,NaN,NaN,NaN,40,x,550000,15000.0,30
2,DE_GTUR_GAS,100000,DE_GTUR_GAS,DE,GTUR,GAS,0.425,0,0,0.166667,...,NaN,NaN,NaN,NaN,NaN,56,x,550000,NaN,30
3,DE_STUR_GAS,100000,DE_STUR_GAS,DE,STUR,GAS,0.380,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,13,x,550000,15000.0,30
4,DE_STUR_HRD,100000,DE_STUR_HRD,DE,STUR,HRD,0.460,8,8,0.017778,...,NaN,NaN,NaN,NaN,NaN,38,x,1800000,50000.0,30
5,DE_STUR_LIG,100000,DE_STUR_LIG,DE,STUR,LIG,0.393,8,8,0.015210,...,NaN,NaN,NaN,NaN,NaN,29,x,1800000,60000.0,30
6,DE_STUR_NUC,100000,DE_STUR_NUC,DE,STUR,NUC,1.000,24,24,0.003333,...,NaN,NaN,NaN,NaN,NaN,11,x,6000000,100000.0,30
7,DE_PHOT_SUN,50000,DE_PHOT_SUN,DE,PHOT,SUN,1.000,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1,x,998000,25000.0,20
8,DE_HROR_WAT,100000,DE_HROR_WAT,DE,HROR,WAT,1.000,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1,x,3000000,60000.0,30
9,DE_HPHS_WAT,2000,DE_HPHS_WAT,DE,HPHS,WAT,0.800,0,0,0.066667,...,718728.0,0.0,8567.0,0.8,NaN,1,x,2000000,20000.0,30
10,DE_WTOF_WIN,100000,DE_WTOF_WIN,DE,WTOF,WIN,1.000,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1,x,3500000,35000.0,20
11,DE_WTON_WIN,50000,DE_WTON_WIN,DE,WTON,WIN,1.000,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1,x,1063000,35000.0,20
12,DE_STUR_WST,2000,DE_STUR_WST,DE,STUR,WST,0.200,0,0,0.020000,...,NaN,NaN,NaN,NaN,NaN,29,x,2424000,100000.0,30

In [214]:

def fill_missing_cols_by_mean(df, df_mean, on_cols, merge_cols):
    df["_missing"] = df[["Investment", "FixedCost", "EconomicLifetime"]].apply(lambda x: x.isna().any())
    
    df_merged = df.merge(df_mean[on_cols + merge_cols],  how='outer', 
                         on = on_cols,  suffixes = ["", "_mean"], indicator=True)
    df_merged = df_merged.loc[(df_merged["_merge"] == "left_only") | (df_merged["_merge"] == "both")]
    df_only_left = df_merged[(df_merged["_merge"] == "left_only") & (df_merged["_missing"] == True)]
    if df_only_left.shape[0] > 0:
        print("No values found for filling missing capacity values of: %s" % ", ".join(df_only_left.Unit.values))
    
    
    for col in merge_cols:
        merge_col_name = col + "_mean"
        df_merged.loc[:, col] = df_merged[col].fillna(df_merged[merge_col_name])
        del df_merged[merge_col_name]
    
    del df_merged["_missing"]
    del df_merged["_merge"]

        
    return df_merged

de_stat = pd.read_csv("Database/PowerPlants/DE/clustered.csv")
de_stat.loc[0, "FixedCost"] = None
de_stat.loc[0, "Investment"] = None
de_stat.loc[3, "FixedCost"] = None
df = fill_col_by_mean(de_stat, all_cost, ["Technology", "Fuel"], ["Investment", "EconomicLifetime", "FixedCost"])

No values found for filling missing capacity values of: DE_STUR_GAS

In [215]:
df

,Unnamed: 0,PowerCapacity,Unit,Zone,Technology,Fuel,Efficiency,MinUpTime,MinDownTime,RampUpRate,...,STOCapacity,STOSelfDischarge,STOMaxChargingPower,STOChargingEfficiency,CHPMaxHeat,Nunits,Extendable,Investment,FixedCost,EconomicLifetime
0,DE_STUR_BIO,100000.0,DE_STUR_BIO,DE,STUR,BIO,0.460,4.0,6.0,0.020000,...,NaN,NaN,NaN,NaN,179.68423,33.0,x,2400000.0,100000.0,30.0
1,DE_COMC_GAS,100000.0,DE_COMC_GAS,DE,COMC,GAS,0.570,2.0,4.0,0.030000,...,NaN,NaN,NaN,NaN,NaN,40.0,x,550000.0,15000.0,30.0
2,DE_GTUR_GAS,100000.0,DE_GTUR_GAS,DE,GTUR,GAS,0.425,0.0,0.0,0.166667,...,NaN,NaN,NaN,NaN,NaN,56.0,x,550000.0,15000.0,30.0
3,DE_STUR_GAS,100000.0,DE_STUR_GAS,DE,STUR,GAS,0.380,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,13.0,x,550000.0,NaN,30.0
4,DE_STUR_HRD,100000.0,DE_STUR_HRD,DE,STUR,HRD,0.460,8.0,8.0,0.017778,...,NaN,NaN,NaN,NaN,NaN,38.0,x,1800000.0,50000.0,30.0
5,DE_STUR_LIG,100000.0,DE_STUR_LIG,DE,STUR,LIG,0.393,8.0,8.0,0.015210,...,NaN,NaN,NaN,NaN,NaN,29.0,x,1800000.0,60000.0,30.0
6,DE_STUR_NUC,100000.0,DE_STUR_NUC,DE,STUR,NUC,1.000,24.0,24.0,0.003333,...,NaN,NaN,NaN,NaN,NaN,11.0,x,6000000.0,100000.0,30.0
7,DE_PHOT_SUN,50000.0,DE_PHOT_SUN,DE,PHOT,SUN,1.000,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1.0,x,998000.0,25000.0,20.0
8,DE_HROR_WAT,100000.0,DE_HROR_WAT,DE,HROR,WAT,1.000,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1.0,x,3000000.0,60000.0,30.0
9,DE_HPHS_WAT,2000.0,DE_HPHS_WAT,DE,HPHS,WAT,0.800,0.0,0.0,0.066667,...,718728.0,0.0,8567.0,0.8,NaN,1.0,x,2000000.0,20000.0,30.0
10,DE_WTOF_WIN,100000.0,DE_WTOF_WIN,DE,WTOF,WIN,1.000,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1.0,x,3500000.0,35000.0,20.0
11,DE_WTON_WIN,50000.0,DE_WTON_WIN,DE,WTON,WIN,1.000,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,1.0,x,1063000.0,35000.0,20.0
12,DE_STUR_WST,2000.0,DE_STUR_WST,DE,STUR,WST,0.200,0.0,0.0,0.020000,...,NaN,NaN,NaN,NaN,NaN,29.0,x,2424000.0,100000.0,30.0

In [139]:
df_stat_sub = de_stat[["Unit","Investment", "EconomicLifetime", "FixedCost"]]

In [142]:
df_stat_sub.mask(df_stat_sub.isnull(), lambda x: x)

           Unit  Investment  EconomicLifetime  FixedCost
0   DE_STUR_BIO         NaN                30        NaN
1   DE_COMC_GAS    550000.0                30    15000.0
2   DE_GTUR_GAS    550000.0                30    15000.0
3   DE_STUR_GAS    550000.0                30        NaN
4   DE_STUR_HRD   1800000.0                30    50000.0
5   DE_STUR_LIG   1800000.0                30    60000.0
6   DE_STUR_NUC   6000000.0                30   100000.0
7   DE_PHOT_SUN    998000.0                20    25000.0
8   DE_HROR_WAT   3000000.0                30    60000.0
9   DE_HPHS_WAT   2000000.0                30    20000.0
10  DE_WTOF_WIN   3500000.0                20    35000.0
11  DE_WTON_WIN   1063000.0                20    35000.0
12  DE_STUR_WST   2424000.0                30   100000.0

In [124]:
de_stat[["Investment", "EconomicLifetime", "FixedCost"]].mask(isnull)

NameError: name 'isnull' is not defined

In [118]:
names = pd.DataFrame({'names':['bob','frank','bob','bob','bob''james','tim','ricardo','mike','mark','joan','joe'],
            'position':['dev','dev','dev','dev','dev','dev''sys','sys','sys','sup','sup','sup']})
info = pd.DataFrame({'names':['joe','mark','tim','frank','joe','bill'],
           'classification':['thief','thief','good','thief','good','thief']})
what = pd.merge(names, info, how="outer")

In [119]:
what

       names position classification
0        bob      dev            NaN
1        bob      dev            NaN
2        bob      dev            NaN
3      frank      dev          thief
4   bobjames      dev            NaN
5        tim   devsys           good
6    ricardo      sys            NaN
7       mike      sys            NaN
8       mark      sup          thief
9       joan      sup            NaN
10       joe      sup          thief
11       joe      sup           good
12      bill      NaN          thief

In [37]:
all_cost

   Technology Fuel  Investment  EconomicLifetime  FixedCost
0        COMC  Gas      550000                30      15000
1        STUR  HRD     1800000                30      50000
2        STUR  LIG     1800000                30      60000
3        STUR  NUC     6000000                30     100000
4        STUR  OIL      400000                30       6000
5        HDAM  WAT     2000000                30      20000
6        HPHS  WAT     2000000                30      20000
7        HROR  WAT     3000000                30      60000
8        PHOT  SUN      998000                20      25000
9        STUR  BIO     2400000                30     100000
10       STUR  WST     2424000                30     100000
11       WTOF  WIN     3500000                20      35000
12       WTON  WIN     1063000                20      35000

In [33]:
pd.merge(de_stat, all_cost, how="left", on=["Technology", "Fuel"])

,Unnamed: 0,PowerCapacity,Unit,Zone,Technology,Fuel,Efficiency,MinUpTime,MinDownTime,RampUpRate,...,STOChargingEfficiency,CHPMaxHeat,Nunits,Extendable,Investment_x,FixedCost_x,EconomicLifetime_x,Investment_y,EconomicLifetime_y,FixedCost_y
0,DE_STUR_BIO,100000,DE_STUR_BIO,DE,STUR,BIO,0.460,4,6,0.020000,...,NaN,179.68423,33,x,2400000,100000.0,30,2400000.0,30.0,100000.0
1,DE_COMC_GAS,100000,DE_COMC_GAS,DE,COMC,GAS,0.570,2,4,0.030000,...,NaN,NaN,40,x,550000,15000.0,30,NaN,NaN,NaN
2,DE_GTUR_GAS,100000,DE_GTUR_GAS,DE,GTUR,GAS,0.425,0,0,0.166667,...,NaN,NaN,56,x,550000,NaN,30,NaN,NaN,NaN
3,DE_STUR_GAS,100000,DE_STUR_GAS,DE,STUR,GAS,0.380,0,0,0.020000,...,NaN,NaN,13,x,550000,15000.0,30,NaN,NaN,NaN
4,DE_STUR_HRD,100000,DE_STUR_HRD,DE,STUR,HRD,0.460,8,8,0.017778,...,NaN,NaN,38,x,1800000,50000.0,30,1800000.0,30.0,50000.0
5,DE_STUR_LIG,100000,DE_STUR_LIG,DE,STUR,LIG,0.393,8,8,0.015210,...,NaN,NaN,29,x,1800000,60000.0,30,1800000.0,30.0,60000.0
6,DE_STUR_NUC,100000,DE_STUR_NUC,DE,STUR,NUC,1.000,24,24,0.003333,...,NaN,NaN,11,x,6000000,100000.0,30,6000000.0,30.0,100000.0
7,DE_PHOT_SUN,50000,DE_PHOT_SUN,DE,PHOT,SUN,1.000,0,0,0.020000,...,NaN,NaN,1,x,998000,25000.0,20,998000.0,20.0,25000.0
8,DE_HROR_WAT,100000,DE_HROR_WAT,DE,HROR,WAT,1.000,0,0,0.020000,...,NaN,NaN,1,x,3000000,60000.0,30,3000000.0,30.0,60000.0
9,DE_HPHS_WAT,2000,DE_HPHS_WAT,DE,HPHS,WAT,0.800,0,0,0.066667,...,0.8,NaN,1,x,2000000,20000.0,30,2000000.0,30.0,20000.0
10,DE_WTOF_WIN,100000,DE_WTOF_WIN,DE,WTOF,WIN,1.000,0,0,0.020000,...,NaN,NaN,1,x,3500000,35000.0,20,3500000.0,20.0,35000.0
11,DE_WTON_WIN,50000,DE_WTON_WIN,DE,WTON,WIN,1.000,0,0,0.020000,...,NaN,NaN,1,x,1063000,35000.0,20,1063000.0,20.0,35000.0
12,DE_STUR_WST,2000,DE_STUR_WST,DE,STUR,WST,0.200,0,0,0.020000,...,NaN,NaN,29,x,2424000,100000.0,30,2424000.0,30.0,100000.0

In [9]:
print("Missing values in the columns: %s" % ", ".join(["Investment", "EconomicLifetime", "FixedCost"]))

Missing values in the columns: Investment, EconomicLifetime, FixedCost

In [246]:
fpath = "/home/zech_ma/DispaFork/Dispa-SET/tests/dummy_data/Units_testcase.csv"
df = pd.read_csv(fpath, index_col=0)
df["ExtendableCapacity"] = None
df.to_csv(fpath, index=True)

In [265]:
unit_path = fpath

In [317]:
conf_file = os.path.abspath('/home/zech_ma/DispaFork/Dispa-SET/tests/conf.yml')
"""Generate some data for testing"""
config = ds.load_config_yaml(conf_file)

/home/zech_ma/DispaFork/Dispa-SET/dispaset/preprocessing/data_handler.py:577: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(f)